/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: inter-variable;
  --accent-font-family: 'Press Start 2P';
  --h-font-weight: 700;
  --p-font-weight: 400;
  --background-color: #fff;
  --text-color: #000;
  --gradient-color-main: #d3d3d3;
  --gradient-color-from: #e7e7e7;
  --gradient-color-to: #1a1a1a;
  --button-color: #fff;
  --heart-fill-color: #f00;
  --background-gradient: repeating-linear-gradient(
      0deg,
      var(--gradient-color-main),
      var(--gradient-color-main) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gradient-color-main),
      var(--gradient-color-main) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      180deg,
      var(--gradient-color-from) 0.01%,
      var(--gradient-color-to) 100%
    );
}
